<?xml version="1.0"?>
<robot name="cibo">
  <link name="pedestal_link">
    <visual>
      <geometry>
        <box size="0.3 0.3 0.05"/>
      </geometry>
    </visual>
  </link>

  <link name="vertical_bar_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.6"/>
      </geometry>
    </visual>
  </link>

  <joint name="pedestal_vertical_joint" type="fixed">
    <parent link="pedestal_link"/>
    <child link="vertical_bar_link"/>
    <origin xyz="-0.1 0.0 0.3" rpy="0 0 0"/>
  </joint>

  <link name="horizontal_bar_link">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.4"/>
      </geometry>
    </visual>
  </link>

  <joint name="vertical_horizontal_joint" type="fixed">
    <parent link="vertical_bar_link"/>
    <child link="horizontal_bar_link"/>
    <origin xyz="0.2 0.0 0.3" rpy="0 1.57 0"/>
  </joint>

</robot>